Part I: Lists and Loops

1. Create a list with the names of every planet in the solar system (in order)

In [12]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus','Neptune']
print(planets)
type(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

list

2. Have Python tell you how many planets there are by examining your list

In [13]:
len(planets)

8

3. Use slicing to display the first four planets (the rocky planets)

In [14]:
planets [0:4]

['Mercury', 'Venus', 'Earth', 'Mars']

4.Iterate through your planets and print the planet name only if it has an s at the end

In [15]:
for i in range(len(planets)):
    planetstring=planets[i]
    if planetstring[-1] == 's':
        print(planetstring)

Venus
Mars
Uranus

Part II: Dictionaries

1. Now create a dictionary that maps each planet name to its mass

In [16]:
planet_mass = {'Mercury':0.33,'Venus':4.87,'Earth':5.97,'Mars':0.642,'Jupiter':1898,'Saturn':568,'Uranus':86.8,'Neptune':102 }
planet_mass

{'Mercury': 0.33,
 'Venus': 4.87,
 'Earth': 5.97,
 'Mars': 0.642,
 'Jupiter': 1898,
 'Saturn': 568,
 'Uranus': 86.8,
 'Neptune': 102}

2. Use your dictionary to look up Earth’s mass

In [17]:
print (str(planet_mass['Earth'])+ '*10^24')

5.97*10^24

3. Loop through the data and create a list of planets whose mass is greater than 100 x 10^24 kg. Display your result

In [18]:
planets2=[]
for planets, mass in planet_mass.items():
    if mass>100:
        planets2.append(planets)
        #print(planets2)
        

print(planets2)
type(planets2)

['Jupiter', 'Saturn', 'Neptune']

list

4. Now add pluto to your dictionary

In [19]:
planet_mass['Pluto']=0.0130
print(planet_mass)

{'Mercury': 0.33, 'Venus': 4.87, 'Earth': 5.97, 'Mars': 0.642, 'Jupiter': 1898, 'Saturn': 568, 'Uranus': 86.8, 'Neptune': 102, 'Pluto': 0.013}

Part III: Functions
1. Write a function to convert temperature from kelvin to celsius
and celsius to kelvin

In [20]:
def tempconverter(celsius,kelvin =False):
    if celsius:
        temp = celsius+273.15
    else:
        temp = celsius-273.15
    return (temp)

#Example Usage
#Convert 10°C to Kelvin
degree_celsius = tempconverter(10, kelvin=True)
print(str (degree_celsius)+ '', 'K')
#Convert 0 Kelvin to degree celsius
Kelvin = tempconverter(0, kelvin=False)
print(str (Kelvin)+"",'°C')

283.15 K
-273.15 °C

2. Write a function to convert temperature to fahrenheit. Include an optional keyword argument to specify whether the input is in celcius or kelvin. Call your previously defined functions if necessary.

In [21]:
def fahrenheit (temp, input):
    if input == "°C":
        temp=(temp*(9/5) + 32)
    elif input == "K":
        temp =(temp*(9/5) - 459.67)
    else:
        raise ValueError("enter input as '°C' or 'K'.")
    return (temp)

3. Check that the outputs are sensible

a). Example using a dataframe with temp values in K

In [22]:
import pandas as pd
df = pd.DataFrame({'Values': [0, 10, 20, 30, 40]})
T_F = fahrenheit(df, "K")
print (str (T_F)+"",'°F')

   Values
0 -459.67
1 -441.67
2 -423.67
3 -405.67
4 -387.67 °F

b). Example using a dataframe with temp values in °C

In [23]:
df1 = pd.DataFrame({'Values': [0, 10, 20, 30, 40]})
T_F = fahrenheit(df1, "°C")
print (str (T_F)+"",'°C')

   Values
0    32.0
1    50.0
2    68.0
3    86.0
4   104.0 °C

4. Now write a function that converts from Fahrenheit and uses a keyword argument to specify whether you want the output in Celcius or Lelvin

In [24]:
def fahrenheittoKC (temp, input):
    if input == "°C":
        temp=(temp-32)*5/9
    elif input == "K":
        temp =(temp++ 459.67*(5/9) )
    else:
        raise ValueError("enter input as '°C' or 'K'.")
    return (temp)

#fahrenheittoKC(0, "K")

5. Write a function that takes two arguments (feet and inches) and returns height in meters

In [25]:
def ftinchtometers(ft,inch):
    meters=(ft*0.3048)+(inch*0.0254)
    return meters

#Example
print(ftinchtometers (0,1))
print(ftinchtometers (0,2))
print (ftinchtometers (0,3))
print (ftinchtometers (5,10))

0.0254
0.0508
0.07619999999999999
1.778

6. Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

In [74]:
def m_ftInch(meters):
    total_inches = meters / 0.0254
    feet = total_inches // 12
    inches = total_inches % 12
    return int(feet), inches


meters = 2
feet, inches = m_ftInch(meters)
print(feet, inches)

6 6.740157480314963

7. Verify that the “round trip” conversion from and back to meters is consistent

In [76]:
# Meters to ft, Inches
meters = 2
feet, inches = m_ftInch(meters)
print(feet, inches)

#feet + inches to meters
print(ftinchtometers (6, 6.740157480314963))

6 6.740157480314963
2.0000000000000004